<!-- <!DOCTYPE html>
<html ng-app"moonApp">
<body ng-controller="signCtrl">
<div class="wrapperSign">
	<h1>Astrological Sign</h1>
	<div class="calendarSign">
		<input type="date" ng-model="yourBirthday">
		<input type="submit" ng-click="getSign()">
		<br>
	</div>
			<div class="menu">
				<div ng-show="value">
					<ul class="resultsSign">
							<li>{{mySign.image}}</li>
							<li><span>Sign:</span>&nbsp;{{moonSign.sign}} % </li>
							<li><span>Date Range:</span>&nbsp;{{mySign.range}}</li>
							<li><span>Element:</span>&nbsp;{{mySign.element}}</li>
							<li><span>Ruler:</span>&nbsp;{{mySign.ruler}}</li>
							<li><span>Greatest Overall Compatibility:</span>&nbsp;{{mySign.compatibility}}</li>
							<li><span>Best for Marriage:</span>&nbsp;{{mySign.marriage}}</li>
							<li><span>Strengths:</span>&nbsp;{{mySign.strengths}}</li>
							<li><span>Weaknesses:</span>&nbsp;{{mySign.weaknesses}}</li>
							<li><span>Personality Traits</span>&nbsp;{{mySign.personality}}</li>
					</ul>
				</div>	
			</div>

</div>
</body>
</html> -->