@import url(http://fonts.googleapis.com/css?family=Open+Sans:700);
@media {


}

html, video#bgvid {
position: fixed;
top: 50%;
left: 50%;
min-width: 100%;
min-height: 100%;
width: auto;
height: auto;
z-index: -100;
-webkit-transform: translateX(-50%) translateY(-50%);
transform: translateX(-50%) translateY(-50%);
background: url(polina.jpg) no-repeat;
background-size: cover;
}

@media screen and (max-device-width: 800px) {
  
body { 
  background: url(polina.jpg) #000 no-repeat center center fixed; 
}
#bgvid { 
  display: none; 

}

}
.wrapper h1 {

  text-align: center;
  color: #0066FF;
  margin: 0 auto;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 20px;
}

.wrapperSign h1 {

  text-align: center;
  color: #0066FF;
  margin: 0 auto;
  width: 70%;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  padding-bottom: 40px;
  padding-top: 20px;


}

.calendarSign, .resultsSign {

margin: 0 auto;
text-align: center; 
padding: 10px;


}

.calendar, .results {

margin: 0 auto;
text-align: center; 
padding: 10px;

}


.results li {

  padding: 10px;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: px;
  color: #33CCFF;
}

.resultsSign li {

  padding: 10px;
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: px;
  color: #33CCFF;
}

.results span {

  color: #0066FF;

}

.resultsSign span {

  color: #0066FF;

}

.moonsize {
  width: 100%;
  height: 100%;
}

.moon {
  width: 50px;
  height: 50px;
}


#cssmenu {
  /*background: none; */
  width: auto;

}
#cssmenu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  line-height: 1;
  display: block;
  zoom: 1;
}
#cssmenu ul:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}
#cssmenu ul li {
  display: inline-block;
  padding: 0;
  margin: 0;

}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  color: #0066FF;
  text-decoration: none;
  display: block;
  padding: 15px 25px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 14px;
  position: relative;
  -webkit-transition: color .25s;
  -moz-transition: color .25s;
  -ms-transition: color .25s;
  -o-transition: color .25s;
  transition: color .25s;
}
#cssmenu ul li a:hover {
  color: #333333;
}
#cssmenu ul li a:hover:before {
  width: 100%;
}
#cssmenu ul li a:after {
  content: "";
  display: block;
  position: absolute;
  right: -3px;
  top: 19px;
  height: 6px;
  width: 6px;
  background: #ffffff;
  opacity: .5;
}
#cssmenu ul li a:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background: #333333;
  -webkit-transition: width .25s;
  -moz-transition: width .25s;
  -ms-transition: width .25s;
  -o-transition: width .25s;
  transition: width .25s;
}
#cssmenu ul li.last > a:after,
#cssmenu ul li:last-child > a:after {
  display: none;
}
#cssmenu ul li.active a {
  color: #333333;
}
#cssmenu ul li.active a:before {
  width: 100%;
}
#cssmenu.align-right li.last > a:after,
#cssmenu.align-right li:last-child > a:after {
  display: block;
}
#cssmenu.align-right li:first-child a:after {
  display: none;
}
@media screen and (max-width: 768px) {
  #cssmenu ul li {
    float: none;
    display: block;
  }
  #cssmenu ul li a {
    width: 100%;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border-bottom: 1px solid #fb998c;
  }
  #cssmenu ul li.last > a,
  #cssmenu ul li:last-child > a {
    border: 0;
  }
  #cssmenu ul li a:after {
    display: none;
  }
  #cssmenu ul li a:before {
    display: none;
  }





